<div class="country">
    <div class="country-image">
        <img src="{{image}}" alt="{{name}}-flag" class="country-image__flag"/>
    </div>
    <div class="country-content">
        <h2 class="country-name">{{name}}</h2>
        <p class="country-capital">Capital: {{capital}}</p>

        <p class="country-population">Population: {{population}}</p>
        
        <p class="country-languages">Languages: {{languages}}</p>

        <ul class="country-languages__list">
            {{#each languages}}
            <li class="country-languages__item">{{this}}</li>
            {{/each}}
        </ul>
    </div>
</div>